<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sos.banknotificationlistener">

    <application>
        <!-- Service que escuta as notificações do aparelho -->
        <service android:name=".BankNotificationListenerService"
            android:label="Leitor de Notificações SOS Controle"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>
</manifest>
